
.welcome-div-1{
    display: block; 
    margin: 15vh 0vw 0vh 10vw;
    width: 70vw;
}


.text{
    margin: 0.7rem 0.7rem 0.7rem 0.7rem;
    color: rgb(0, 0, 0);
    font: 1.1rem Serif;
    cursor: pointer;
}
